.result{
    width: 60%;
    border: 1px solid #ddd;
    text-align: center;
    margin:auto;
    display: flex;
    
}

.text-result{
    width: 75%;
    padding: 10px;
}



iframe{
    padding: 10px;
    border: none;
}



.view {
    width: 30%;
    border-radius: 8px;
    background-color: slategray;
    color: white;
    padding: 10px;
}

.read{
    width: 30%;
    border-radius: 8px;
    background-color: white;
    padding: 10px;
}
